.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.mt-auto {
  margin-top: auto;
}

.w-100 {
  width: 100%;
}

.d-block {
  display: block;
}

.text-uppercase {
  text-transform: uppercase;
}

.reset-button {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.overflow-hidden {
  overflow: hidden;
}

.text-aline-centre {
  text-align: center;
}

.border-bottom-black {
  border-bottom: 1px solid var(--color-base-black);
}

.color-black {
  color: var(--color-base-black);
}
