.container-md {
  max-width: 48rem;
  padding-right: var(--space-4);
  padding-left: var(--space-4);
  @extend .mx-auto;

  @media screen and (min-width: $screen-md-min) {
    padding-right: var(--space-5);
    padding-left: var(--space-5);
  }
}

.container-lg {
  max-width: 64rem;
  padding-right: var(--space-4);
  padding-left: var(--space-4);
  @extend .mx-auto;

  @media screen and (min-width: $screen-md-min) {
    padding-right: var(--space-8);
    padding-left: var(--space-8);
  }
}

.container-xl {
  max-width: 86rem;
  padding-right: var(--space-4);
  padding-left: var(--space-4);
  @extend .mx-auto;

  @media screen and (min-width: $screen-md-min) {
    padding-right: var(--space-8);
    padding-left: var(--space-8);
  }
}