:root {
  --font-family: 'Lora', sans-serif;

  --color-base-white: #fff;
  --color-base-black: #000;

  --color-primary-light: #f5f5f5;
  --color-secondary: #2b2b2b;
  --color-accent: #f9d15d;
  --color-title-text: #131412;
  --color-dark-text: #151512;
  --color-light: #f3f3f3;
  --color-background-mobile-menu: #e7e7e7;

  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-5: 1.25rem;
  --space-6: 1.5rem;
  --space-8: 2rem;
  --space-10: 2.5rem;
  --space-12: 3rem;
  --space-16: 4rem;
  --space-20: 5rem;
  --space-24: 6rem;
  --space-32: 8rem;
  --space-40: 10rem;
  --space-48: 12rem;
  --space-56: 14rem;
  --space-64: 16rem;

  --text-regular: 400;
  --text-medium: 500;
  --text-semibold: 600;
  --text-bolt: 700;

  --line-height-text-xs: 1.125rem;
  --line-height-text-sm: 1.25rem;
  --line-height-text-md: 1.5rem;
  --line-height-text-lg: 1.75rem;
  --line-height-text-xl: 1.875rem;

  --font-size-text-xs: 0.75rem;
  --font-size-text-sm: 0.875rem;
  --font-size-text-md: 1rem;
  --font-size-text-lg: 1.125rem;
  --font-size-text-xl: 1.25rem;

  --font-size-display-xs: 1.5rem;
  --font-size-display-sm: 1.875rem;
  --font-size-display-md: 2.25rem;
  --font-size-display-lg: 3rem;
  --font-size-display-xl: 4.5rem;
  --font-size-display-2xl: 3.75rem;

  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
