<section class="about-wrapper">
  <div class="container-xl about">
    <div class="about-description">
      <h2 class="about-title text-uppercase">Web design that transforms your business</h2>
      <p class="about-subtitle">Let’s be honest, first impressions are already 80% success. Your website is a unique
        opportunity to impress your
        audience. So let’s take advantage of this opportunity and create a higher-level design.
      </p>
      <p><b>Unique and creative website created using UI/UX - a real conversion bomb.</b></p>
      <button type="button" class="about-button open-button">Discuss the project</button>
    </div>
    <div class="about-websites">
      <div class="about-item">
        <span class="about-number">01.</span>
        <h3>Landing Page</h3>
        <p class="about-info">One-page site is most often used for advertising, as they have the highest conversion ability.</p>
      </div>
      <div class="about-item">
        <span class="about-number">02.</span>
        <h3>E-Commerce Website</h3>
        <p class="about-info">An online store for selling various products, suitable for both contextual advertising and SEO promotion.</p>
      </div>
      <div class="about-item">
        <span class="about-number">03.</span>
        <h3>Business Website</h3>
        <p class="about-info">A multi-page, comprehensive website for businesses that is excellent for enhancing the company's image,
          direct advertising, and SEO promotion.</p>
      </div>
      <div class="about-item">
        <span class="about-number">04.</span>
        <h3>Portfolio</h3>
        <p class="about-info">An excellent opportunity for photographers, designers, and other creative individuals - creating a unique
          portfolio.</p>
      </div>
    </div>
  </div>
</section>
