<footer class="footer-wrapper">
  <div class="footer">
    <a class="footer-logo" href="!#">
      <img src="./images/logo.webp" width="142" height="42" alt="Creative code | Web design studio"/>
    </a>
    <p class="footer-copyright"> &#169;2024 All rights reserved</p>
    <div class="footer-social">
      <h3 class="footer-social-title text-aline-centre text-uppercase">Join me</h3>
      <div class="footer-social-list">
        <a class="footer-social-link" href="https://wa.me/6281239087084" target="_blank">
          <svg width="25" height="25">
            <use href="./images/symbol-defs.svg#whatsapp"></use>
          </svg>
        </a>
        <a class="footer-social-link" href="https://t.me/margo_wdesign" target="_blank">
          <svg width="25" height="25">
            <use href="./images/symbol-defs.svg#telegram"></use>
          </svg>
        </a>
        <a class="footer-social-link" href="https://www.instagram.com/smplshine/" target="_blank">
          <svg width="25" height="25">
            <use href="./images/symbol-defs.svg#instagram"></use>
          </svg>
        </a>
        <a class="footer-social-link" href="https://www.behance.net/margo_wdesign" target="_blank">
          <svg width="25" height="25">
            <use href="./images/symbol-defs.svg#be"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</footer>


