<header class="header">
  <nav class="header-container">
    <a href="index.html" class="header-logo">
      <img src="./images/logo.webp" width="200" height="32" alt="Logo"/>
    </a>
    <ul class="header-nav-list">
      <li>
        <a href="#projects" class="header-nav-item text-uppercase">Projects</a>
      </li>
      <li>
        <a href="#contacts" ><button type="button" class="header-nav-item reset-button text-uppercase open-button">Contact me</button></a>
      </li>
    </ul>
  </nav>
</header>
