<section class="hero-wrapper">
	<div class="hero">

		<div class="hero-column left-column-up">
			<div>
				<img src="./images/hero/hero-img-1.webp" alt="Main background image"/>
			</div>
			<div>
				<img src="./images/hero/hero-img-2.webp" alt="Main background image"/>
			</div>
			<div>
				<img src="./images/hero/hero-img-3.webp" alt="Main background image"/>
			</div>
		</div>

		<div class="hero-column left-column-down">
			<div>
				<img src="./images/hero/hero-img-4.gif" alt="Main background image"/>
			</div>
			<div>
				<img src="./images/hero/hero-img-5.webp" alt="Main background image"/>
			</div>
			<div>
				<img src="./images/hero/hero-img-6.webp" alt="Main background image"/>
			</div>
		</div>

		<div class="hero-text-wrapper">
			<h1 class="hero-title text-uppercase">Style in every pixel<span
				class="text-uppercase">Quality in every code</span></h1>
			<p class="hero-subtitle">Web Design Studio</p>
		</div>


		<div class="hero-column right-column-up">
			<div>
				<img src="./images/hero/hero-img-7.svg" alt="Main background image"/>
			</div>
			<div>
				<img src="./images/hero/hero-img-8.webp" alt="Main background image"/>
			</div>
			<div>
				<img src="./images/hero/hero-img-9.webp" alt="Main background image"/>
			</div>
		</div>

		<div class="hero-column right-column-down">
			<div>
				<img src="./images/hero/hero-img-10.webp" alt="Main background image"/>
			</div>
			<div>
				<img src="./images/hero/hero-img-11.webp" alt="Main background image"/>
			</div>
			<div>
				<img src="./images/hero/hero-img-12.webp" alt="Main background image"/>
			</div>
			<div>
				<img src="./images/hero/hero-img-13.png" alt="Main background image"/>
			</div>
		</div>
	</div>
</section>
