<header class="mobile-header">
  <div class="mobile-header-container">
    <a href="index.html" class="header-logo-mobile">
      <img src="./images/logo.webp" width="142" height="32" alt="Logo"/>
    </a>
    <button
      class="button reset-button" id="burger-button" type="button">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
  <div class="mobile-nav-container" data-mobile-menu>
    <nav class="mobile-nav">
      <ul class="mobile-nav-list">
        <li>
          <a class="mobile-nav-item mobile-nav-link" href="#projects">Projects</a>
        </li>
        <li class="mobile-nav-item">
          <button type="button" class="reset-button mobile-nav-button open-button">Contact me</button>
        </li>
      </ul>
    </nav>
  </div>
</header>
