<section class="projects-wrapper" id="projects">
  <div class="container-xl projects">
    <h2 class="projects-title text-uppercase">Projects</h2>
    <div class="projects-body">
      <ul class="projects-list">
        <li class="project-item">
          <p class="projects-description">Stylish landing page for a business club in Europe</p>
          <h3 class="projects-subtitle">Bnb business club</h3>
          <ul class="projects-tags">
            <li>Design</li>
            <li>Development</li>
            <li>Support</li>
          </ul>
          <div class="projects-img-wrapper">
            <img src="./images/projects-bnb.jpg" alt="Projects BNB"/>
          </div>
          <a class="projects-link"
             href="https://www.behance.net/gallery/185171031/BNB-Business-Club-website-uiux-design" target="_blank">
            <img src="./images/arrow-right-down.svg" alt="Arrow">
          </a>
        </li>

        <li class="project-item">
          <p class="projects-description">Website for a real estate company in Turkey</p>
          <h3 class="projects-subtitle">Expert Property</h3>
          <ul class="projects-tags">
            <li>Design</li>
            <li>Development</li>
            <li>Support</li>
          </ul>
          <div class="projects-img-wrapper">
            <img src="./images/projects-real-estate.jpg" alt="Projects Real Estate"/>
          </div>
          <a class="projects-link" href="https://www.behance.net/gallery/185458163/Website-Design-Real-Estate-Agency"
             target="_blank">
            <img src="./images/arrow-right-down.svg" alt="Arrow">
          </a>
        </li>

        <li class="project-item">
          <p class="projects-description">Landing page for the first Ukrainian developer of fully finished houses</p>
          <h3 class="projects-subtitle">Module house</h3>
          <ul class="projects-tags">
            <li>Design</li>
            <li>Development</li>
            <li>Support</li>
          </ul>
          <div class="projects-img-wrapper">
            <img src="./images/projects-module.jpg" alt="Projects Module"/>
          </div>
          <a class="projects-link"
             href="https://www.behance.net/gallery/177978017/Landing-page-for-building-company-Module-House"
             target="_blank">
            <img src="./images/arrow-right-down.svg" alt="Arrow">
          </a>
        </li>

        <li class="project-item">
          <p class="projects-description">Landing page for NFT project</p>
          <h3 class="projects-subtitle">EvaCodes x Hacken</h3>
          <p class="projects-tags">Design</p>
          <div class="projects-img-wrapper">
            <img src="./images/projects-eva-hacken.webp" alt="Projects Eva Hacken"/>
          </div>
        </li>

        <li class="project-item title-target">
          <p class="projects-description">Landing page for Mentor</p>
          <h3 class="projects-subtitle">Practical online session
          </h3>
          <p class="projects-tags">Design</p>
          <div class="projects-img-wrapper">
            <img src="./images/projects-landing-page.jpg" alt="Projects Landing Page"/>
          </div>
        </li>
      </ul>
      <div>
        <div class="projects-img-wrapper-md">
          <div class="projects-img-list-md">
            <img class="projects-img-md" src="./images/projects-bnb.jpg" alt="Projects BNB"/>
            <img class="projects-img-md" src="./images/projects-real-estate.jpg" alt="Projects Real Estate"/>
            <img class="projects-img-md" src="./images/projects-module.jpg" alt="Projects Module"/>
            <img class="projects-img-md" src="./images/projects-eva-hacken.webp" alt="Projects Eva Hacken"/>
            <img class="projects-img-md" src="./images/projects-landing-page.jpg" alt="Projects Landing Page"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
