.footer-wrapper {
  position: relative;
  z-index: 10;
  padding: var(--space-5);
  background-color: var(--color-secondary);

  @media screen and (min-width: $screen-md-min) {
    padding-left: var(--space-8);
    padding-right: var(--space-8);
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem 4rem;

  @media screen and (min-width: $screen-md-min) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.footer-copyright {
  font-size: 0.875rem;
  color: var(--color-copyright);

}

.footer-social-title {
  margin-bottom: var(--space-3);
  font-family: var(--font-family-Oswald);
  font-weight: var(--text-light);
  color: var(--color-base-white);
  letter-spacing: 1px;
}

.footer-social-list {
  display: flex;
  gap: 1rem;
}
