.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  padding: 30px 64px;
  background-color: transparent;

  @media screen and (max-width: $screen-md-max) {
    display: none;
  }
}

.header-logo {
  position: absolute;
  right: 50%;
  top: 26%;
  transform: translateX(50%);
}

.header-nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-text-lg);
}

.header-nav-item {
  position: relative;
  display: block;

  &:hover::after {
    width: 100%;
  }

  &::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    bottom: -8px;
    left: 0;
    background-color: var(--color-main-text);
    transition: width .5s ease;
  }
}